body {
	font-family: 'Lora', serif;
	line-height: 1.75;
	margin: 0 auto;
	color: #363432;
	background: #dbdcdb;
}

header {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9)), url("./images/header.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	padding: 12vw 1em 6vw;
	margin-bottom: 3em;
}

#logo {
	display: inline-block;
	vertical-align: top;
}

header h1 {
	color: #c7622b;
	font-size: 2.5em;
	font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
	margin: 0 auto;
	padding-top: 1em;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 0.5em;
}

img {
	align-items: center;
	max-width: 100%;
    height: auto;
	margin: 3em auto 1em;
}

.publish {
	margin-top: 2em;
    margin-left: auto;
}

footer {
	padding-bottom: 5em;
}